@import "media-queries";
@import "compass";
@import url(http://fonts.googleapis.com/css?family=Rock+Salt);
@include global-reset;

body {
  font-family: 'Roboto', 'Helvetica', 'Arial', 'Sans Serif';
  max-width: 100%;
  overflow-x: hidden;
  line-height: 1.5;
  @include background-size(cover);
  background-color: #EEE;
}

#main {
}

#geoList {
  width: 30%;
  min-width: 380px;
  float: right;
  @include max-screen(480px) {
    width: 100%;
  }
  li.card {
    color: #333;
    padding: 5px 10px 10px;
    @include border-radius(2px);
    @include transition(box-shadow .25s);
    @include box-shadow(0 2px 10px 0 rgba(204, 203, 203, 0.72));
    margin: 10px;
    position: relative;
    background-color: #F7F7F7;
    .card-header {
      padding: 8px;
      border-bottom: 1px dashed #D3D3D3;
      .tag {
        border: 1px solid #CCC;
        padding: 5px 8px;
        font-size: 14px;
        line-height: 20px;
        &.status {
          color: #000;
        }
        &.true {
          background-color: #CACACA;
        }
        &.false {
          background-color: #DA0606;
          color: #FFF;
        }
      }
    }
    .card-title {
      color: #000;
      font-size: 24px;
      font-weight: bolder;
      line-height: 48px;
    }
    .card-body {
      color: #555;
      font-size: 15px;
      padding: 0 15px;
      .pos {
        cursor: pointer;
      }
    }
  }
}